{% extends 'base.html' %}

{% block content %}
<h2>О нашем центре</h2>
<p>Добро пожаловать в наш Медицинский Диагностический Центр! Мы заботимся о каждом пациенте и предлагаем лучшие услуги в области медицинской диагностики.</p>

<h2>Наши Преимущества</h2>
<p>Наш центр выделяется на фоне других учреждений благодаря:</p>
<ul>
    <li>Современному оборудованию последнего поколения.</li>
    <li>Индивидуальному подходу к каждому пациенту.</li>
    <li>Широкому спектру медицинских услуг под одной крышей.</li>
    <li>Профессионализму и высокой квалификации наших специалистов.</li>
</ul>

<h2>Наши Услуги</h2>
<p>Мы предлагаем широкий спектр услуг, включая:</p>
<ul>
    <li>Полное медицинское обследование.</li>
    <li>Консультации ведущих специалистов.</li>
    <li>Лабораторные исследования.</li>
    <li>Инструментальную диагностику.</li>
</ul>
<p>Записаться на прием или узнать больше о наших услугах вы можете, посетив наш сайт или позвонив по указанному номеру телефона.</p>

<h2>Встречайте наших специалистов</h2>
<p>В нашем центре работают высококвалифицированные специалисты из различных областей медицины. Мы гордимся нашим командой и уверены в высоком качестве предоставляемых услуг.</p>
<a href="{% url 'clinic:specialist_list' %}" class="button">Познакомьтесь с нашими специалистами</a>
{% endblock %}
