{% extends 'base.html' %}

{% block content %}
<style>
    hr {
        border: none; /* Убираем стандартный бордюр */
        height: 4px; /* Устанавливаем желаемую толщину линии */
        background-color: #333; /* Цвет линии */
        margin-top: 20px; /* Отступ сверху */
        margin-bottom: 20px; /* Отступ снизу */
    }
</style>

<h2>Наши специалисты</h2>

<figure>
    <img src="/media/Специалисты.jpeg" alt="Специалисты" />
</figure>

<div class="specialists">
    <div class="specialist">
        <h3>Доктор Анна Иванова</h3>
        <p>Возраст: 45</p>
        <p>Специализация: Кардиология</p>
        <p>Квалификация: Доктор медицинских наук, профессор</p>
    </div>
    <hr> <!-- Горизонтальная черта -->

    <div class="specialist">
        <h3>Доктор Ольга Петрова</h3>
        <p>Возраст: 38</p>
        <p>Специализация: Неврология</p>
        <p>Квалификация: Кандидат медицинских наук</p>
    </div>
    <hr> <!-- Горизонтальная черта -->

    <div class="specialist">
        <h3>Доктор Екатерина Сидорова</h3>
        <p>Возраст: 50</p>
        <p>Специализация: Эндокринология</p>
        <p>Квалификация: Доктор медицинских наук</p>
    </div>
    <hr> <!-- Горизонтальная черта -->

    <div class="specialist">
        <h3>Доктор Александр Кузнецов</h3>
        <p>Возраст: 40</p>
        <p>Специализация: Ортопедия</p>
        <p>Квалификация: Кандидат медицинских наук</p>
    </div>
    <hr> <!-- Горизонтальная черта -->

    <div class="specialist">
        <h3>Доктор Михаил Лебедев</h3>
        <p>Возраст: 55</p>
        <p>Специализация: Хирургия</p>
        <p>Квалификация: Доктор медицинских наук, профессор</p>
    </div>
    <!-- Не нужно добавлять <hr> после последнего специалиста -->
</div>
{% endblock %}
