<!-- clinic/templates/clinic/specialist_list.html -->

{% extends 'base.html' %}

{% block content %}
<style>
    hr {
        border: none;
        height: 4px;
        background-color: #333;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .button:hover {
        background-color: #0056b3;
    }
    .specialist img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 15px;
    }
    .specialist {
        margin-bottom: 20px;
    }
</style>

<h2>Наши специалисты</h2>

<div class="specialists">
    {% for specialist in specialists %}
    <div class="specialist">
        <img src="{{ specialist.photo.url }}" alt="Фото {{ specialist.user.get_full_name }}">
        <h3>Доктор {{ specialist.user.get_full_name }}</h3>
        <p>Возраст: {{ specialist.calculate_age }}</p>
        <p>Специализация: {{ specialist.specialization }}</p>
        <p>Квалификация: {{ specialist.qualifications }}</p>
        <p>Образование: {{ specialist.education }}</p>
        <p>Опыт работы: {{ specialist.experience_years }} лет</p>
        <p>Email: {{ specialist.contact_email }}</p>
        <p>Телефон: {{ specialist.contact_phone }}</p>
        {% if specialist.available_slot_id %}
            <a href="{% url 'appointments:specialist_free_slots' specialist.id %}" class="button">Записаться на прием</a>
            <a href="{% url 'online_consultations:specialist_free_slots' specialist.id %}" class="button">Записаться на онлайн-консультацию</a>
        {% else %}
            <p class="button" style="background-color: #040404;">Нет доступных временных слотов</p>
        {% endif %}
    </div>
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
