<!-- clinic/templates/clinic/specialist_list.html -->

{% extends 'base.html' %}

{% block content %}
<style>
    hr {
        border: none; /* Убираем стандартный бордюр */
        height: 4px; /* Устанавливаем желаемую толщину линии */
        background-color: #333; /* Цвет линии */
        margin-top: 20px; /* Отступ сверху */
        margin-bottom: 20px; /* Отступ снизу */
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .button:hover {
        background-color: #0056b3;
    }
</style>

<h2>Наши специалисты</h2>

<figure>
    <img src="/media/Специалисты.jpeg" alt="Специалисты" />
</figure>

<div class="specialists">
    {% for specialist in specialists %}
    <div class="specialist">
        <h3>Доктор {{ specialist.user.get_full_name }}</h3>
        <p>Возраст: {{ specialist.user.profile.age }}</p> <!-- Предположение о структуре данных -->
        <p>Специализация: {{ specialist.specialization }}</p>
        <p>Квалификация: {{ specialist.qualifications }}</p>
        <!-- Ссылка для записи на прием -->
        <a href="{% url 'appointments:book_appointment' specialist_id=specialist.id %}" class="button">Записаться на прием</a>
    </div>
    {% if not forloop.last %}
    <hr>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
