<!-- authentication/templates/authentication/dashboard.html -->

{% extends 'base.html' %}

{% block content %}
<div class="dashboard">
    <h1>Личный кабинет</h1>
    <p>Здравствуйте, {{ user.first_name }}!</p>
    {% if not edit %}
    <a href="{% url 'authentication:dashboard' %}?edit=true" class="button">Редактировать данные</a>
    {% else %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить изменения</button>
    </form>
    {% endif %}

        <h3>Персональные данные</h3>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Имя: {{ user.first_name }}</p>
        <p>Отчество: {{ user.middle_name }}</p>
        <p>Дата рождения: {{ user.date_of_birth }}</p>
        <p>Возраст: {{ user.age }}</p>
        <p>Пол: {{ user.gender }}</p>
        <p>Гражданство: {{ user.citizenship }}</p>
        <p>Место жительства: {{ user.residence }}</p>
        <h3>Медицинские данные</h3>
        <p>{{ user.medical_data }}</p>
        <h3>История диагностик</h3>
        <p>{{ user.diagnostic_history }}</p>

    <a href="{% url 'authentication:logout' %}">Выйти</a>
</div>
{% endblock %}
