<!-- authentication/templates/authentication/login.html -->

{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h2>Вход</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
    <p>
        <a href="{% url 'authentication:register' %}" class="button">Зарегистрироваться</a>
        <a href="{% url 'authentication:password_reset' %}" class="button">Забыли пароль?</a>
    </p>
</div>
{% endblock %}
