<!-- appointments/templates/appointments/appointments_list.html -->

{% extends 'base.html' %}

{% block content %}
<h2>Список записей на прием</h2>

{% if appointments %}
  <ul>
    {% for appointment in appointments %}
      <li>
        {{ appointment.slot.start_time }} - {{ appointment.slot.specialist.get_full_name }}
        <form action="{% url 'appointments:cancel_appointment' appointment.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Отменить запись">
        </form>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>У вас нет запланированных приемов.</p>
{% endif %}

{% endblock %}
