{% extends 'base.html' %}

{% block content %}
<h2>{{ resource.title }}</h2>
<div>
    {% if resource.id == 1 %}
        <p>Кровяное давление - это сила, с которой ваша кровь давит на стенки кровеносных сосудов. Этот показатель жизненно важен, так как высокое кровяное давление может привести к серьёзным проблемам со здоровьем, включая инсульт и сердечные заболевания. Узнайте, какие показатели считаются нормой и что делать, если ваше давление выходит за пределы этих значений.</p>
    {% elif resource.id == 2 %}
        <p>Диабет - это состояние, при котором уровень глюкозы в крови повышается из-за проблем с инсулином. Но хорошая новость заключается в том, что некоторые формы диабета можно предотвратить. В этой статье мы расскажем о лёгких изменениях в образе жизни, которые помогут снизить риск развития диабета.</p>
    {% elif resource.id == 3 %}
        <p>Рак может развиваться незаметно и без симптомов. Регулярный скрининг помогает обнаружить рак на ранней стадии, когда лечение наиболее эффективно. В этой статье обсуждаются рекомендуемые скрининги для разных видов рака и объясняется, почему они так важны.</p>
    {% elif resource.id == 4 %}
        <p>Вакцины играют ключевую роль в предотвращении инфекционных заболеваний и спасении жизней. В этой статье мы рассмотрим, как работают вакцины, почему важно следовать графику вакцинации и какие заблуждения существуют вокруг вакцинации.</p>
    {% elif resource.id == 5 %}
        <p>Кожа - это не только самый большой орган человеческого тела, но и один из самых важных. Правильный уход за кожей помогает предотвратить ряд проблем, включая преждевременное старение и рак кожи. В этом руководстве мы поделимся советами по ежедневному уходу за кожей и объясним, почему это так важно.</p>
    {% endif %}
</div>
{% endblock %}
