<!-- educational_resources/templates/educational_resources/resource_detail_1.html -->

{% extends 'base.html' %}

{% block content %}
<h2>Всё, что вам нужно знать о кровяном давлении</h2>
<p>Кровяное давление - это сила, с которой ваша кровь давит на стенки кровеносных сосудов. Этот показатель жизненно важен, так как высокое кровяное давление может привести к серьёзным проблемам со здоровьем, включая инсульт и сердечные заболевания. Узнайте, какие показатели считаются нормой и что делать, если ваше давление выходит за пределы этих значений.</p>
{% endblock %}
