<!-- educational_resources/templates/educational_resources/resource_detail_2.html -->

{% extends 'base.html' %}

{% block content %}
<h2>Как предотвратить диабет: простые шаги для здоровой жизни</h2>
<p>Диабет - это состояние, при котором уровень глюкозы в крови повышается из-за проблем с инсулином. Но хорошая новость заключается в том, что некоторые формы диабета можно предотвратить. В этой статье мы расскажем о лёгких изменениях в образе жизни, которые помогут снизить риск развития диабета.</p>
{% endblock %}
