<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Медицинский диагностический центр{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong><a href="/">Медицинский центр</a></strong></li>
        </ul>
        <ul>
            <a href="{% url 'clinic:clinic_info' %}">О клинике</a>
            <li><a href="{% url 'appointments:appointments_list' %}">Запись на прием</a></li>
            <li><a href="{% url 'educational_resources:resources_list' %}">Образовательные ресурсы</a></li>
            <li><a href="{% url 'feedback:feedback_list' %}">Отзывы</a></li>
            <li><a href="{% url 'online_consultations:consultation_list' %}">Онлайн-консультации</a></li>
            <li><a href="{% url 'clinic:specialist_list' %}">Наши специалисты</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'authentication:logout' %}">Выйти {{ user.username }}</a></li>
            {% else %}
            <li><a href="{% url 'authentication:login' %}">Вход</a></li>
            <li><a href="{% url 'authentication:register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="container">
        <small><a href="{% url 'clinic:privacy_policy' %}">Политика конфиденциальности</a> • <a href="{% url 'clinic:contacts' %}">Контакты</a></small>
    </footer>
</body>
</html>
