<!-- templates/index.html -->

{% extends 'base.html' %}

{% block title %}Главная - Медицинский диагностический центр{% endblock %}

{% block content %}
<div class="grid">
    <section>
        <hgroup>
            <h2>Добро пожаловать в наш Медицинский Диагностический Центр!</h2>
            <h3>Мы заботимся о каждом пациенте и предлагаем лучшие услуги в области медицинской диагностики.</h3>
        </hgroup>
        <p>В нашем центре вы найдете высококвалифицированных специалистов, передовое медицинское оборудование и дружелюбную атмосферу. Мы стремимся сделать ваш визит максимально комфортным и эффективным, предлагая широкий спектр диагностических услуг, включая лабораторные анализы, УЗИ, МРТ, и многое другое.</p>
        <p>Мы рады видеть вас в нашем центре и готовы предложить индивидуальный подход к решению именно ваших задач и забот. Здоровье наших пациентов - наш главный приоритет!</p>
        <figure>
            <img src="/media/Главная.jpeg" alt="Главная" />
        </figure>
    </section>
</div>
{% endblock %}
