{% extends 'base.html' %}

{% block content %}
<div class="submit-feedback-form">
    <h2>Оставить отзыв</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <strong>Пожалуйста, исправьте следующие ошибки:</strong>
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}
